# --- Python

# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]

# C extensions
*.so

# Distribution / packaging
.Python
env/
build/
develop-eggs/
dist/
downloads/
eggs/
lib/
lib64/
parts/
sdist/
var/
*.egg-info/
.installed.cfg
*.egg

# PyInstaller
#  Usually these files are written by a python script from a template
#  before PyInstaller builds the exe, so as to inject date/other infos into it.
*.manifest
*.spec

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Unit test / coverage reports
htmlcov/
.tox/
.coverage
.cache
nosetests.xml
coverage.xml

# Translations
*.mo
*.pot

# Django stuff:
*.log

# Sphinx documentation
docs/_build/

# PyBuilder
target/






# --- Project
bin
node_modules

# Outputs from test runs
src/**/*.out
src/**/*.output

src/07/*/*/*.asm

src/08/*/*/*.asm

src/09/tetris/*.vm
src/09/tetris/*.asm
src/09/tetris/*.hack

src/10/**/*.tokenized.xml
src/10/**/*.parsed.xml

src/11/*/*.vm
src/11/*/*.asm
src/11/*/*.hack

src/12/*Test/*.vm

src/pong/*.jack
src/pong/*.vm
src/pong/*.hack
