node_modules
bin
develop-eggs
parts
.installed.cfg

# Outputs from test runs
src/**/*.out
src/**/*.output

src/07/*/*/*.asm

src/08/*/*/*.asm

src/09/tetris/*.vm
src/09/tetris/*.asm
src/09/tetris/*.hack

src/10/**/*.tokenized.xml
src/10/**/*.parsed.xml

src/11/*/*.vm
src/11/*/*.asm
src/11/*/*.hack

src/12/*Test/*.vm

src/pong/*.jack
src/pong/*.vm
src/pong/*.hack
